<% if user_signed_in? %>
<%= link_to "Go to My Profile", controller: "users", action: "show", id: current_user.id %>
<% end %>

<h1>DBC Mental State Snapshot</h1>
<h3>panic -- <%= Response.where(:answer => "panic").count %></h3>
<h3>panic edge -- <%= Response.where(:answer => "panic edge").count %></h3>
<h3>learning -- <%= Response.where(:answer => "learning").count %></h3>
<h3>comfort edge -- <%= Response.where(:answer => "comfort edge").count %></h3>
<h3>comfort -- <%= Response.where(:answer => "comfort").count %></h3>


<canvas id="myChart" width="400" height="400"></canvas>

<script>
	//Get the context of the canvas element we want to select

	var data = [
		{
			color:"#F38630",
			value: <%= Response.where(:answer => "panic").count %>
		},
		{
			color:"#F38630",
			value: <%= Response.where(:answer => "panic edge").count %>
		},
		{
			color:"#F38630",
			value: <%= Response.where(:answer => "learning").count %>
		},
		{
			color:"#F38630",
			value: <%= Response.where(:answer => "comfort edge").count %>
		},
		{
			color:"#F38630",
			value: <%= Response.where(:answer => "comfort").count %>
		}
	]

	// var data = [
	// 	{
	// 		value: 30,
	// 		color:"#F38630"
	// 	},
	// 	{
	// 		value : 50,
	// 		color : "#E0E4CC"
	// 	},
	// 	{
	// 		value : 100,
	// 		color : "#69D2E7"
	// 	}			
	// ]

	var ctx = document.getElementById("myChart").getContext("2d");

	// console.log(d3)
	new Chart(ctx).Pie(data);
		
</script>

