<%= javascript_tag do %>
  userId = <%= @user.id %>
<% end %>

<div id="buttons">
  <%= button_tag "User Individual Line Chart", id: "retrieve_user_line" %>
  <%= button_tag "User Ordinal Line Chart", id: "retrieve_user_ord_line" %>
  <%= button_tag "User HR Line Chart", id: "retrieve_user_hr_line" %>
</div>

<div id="personal_data">
  <h3 style="float: right; color:red;">Average Heartrate: <span><b><%= @avg_heart_rate %></b></span></h3>
  <ul class="my_responses">
    <% responses = {1 => ["Panic", "red"],
                    2 => ["Panic Edge", "orange"],
                    3 => ["Learning", "green"],
                    4 => ["Comfort Edge", "orange"],
                    5 => ["Comfort", "red"]} %>
    <% @responses.each do |response| %>
    	<li>You said <span style="color: <%= responses[response.answer][1] %>"><%= responses[response.answer][0] %></span> <%= distance_of_time_in_words(Time.now, response.created_at) %> ago.</li>
    <% end %>
  </ul>
</div>
