<%= javascript_tag do %>
  userId = <%= @user.id %>
<% end %>

<div id="buttons">
	<%= button_tag "retrieve_all_line", id: "retrieve_all_line" %>
  <%= button_tag "retrieve_user_line", id: "retrieve_user_line" %>
  <%= button_tag "retrieve_all_bar", id: "retrieve_all_bar" %>
  <%= button_tag "retrieve_user_bar", id: "retrieve_user_bar" %>
</div>
