<div class="navbar row">
  <h1 class="logo" style="float:left; color:white">EQUANIMITY</h1>
  <p class="navbar-text">
  <% if user_signed_in? %>
    <span class="login-email-notification"><%= link_to current_user.email, controller: "users", action: "show", id: current_user.id %></span>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Register", new_user_registration_path, :class => 'navbar-link', :id => "navbar-register"  %>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link', :id => "navbar-login"  %>
  <% end %>

  <div class="signin-box">
    <%= render partial: "shared/signin" %>
  </div>

  <div class="signup-container">
    <%= render partial: "shared/signup" %>
  </div>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>

<script>
  $("#navbar-login").on("click", function(e) {
    event.preventDefault();
    $(".signup-container").hide();
    $(".signin-box").toggle();
  });
  $("#navbar-register").on("click", function(e) {
    event.preventDefault();
    $(".signin-box").hide();
    $(".signup-container").toggle();
  });
</script>
