<% if user_signed_in? %>
<%= link_to "Go to My Profile", controller: "users", action: "show", id: current_user.id %>
<% end %>

<h1>DBC Mental State Snapshot</h1>
<h3>panic -- <%= Response.where(:answer => "panic").count %></h3>
<h3>panic edge -- <%= Response.where(:answer => "panic edge").count %></h3>
<h3>learning -- <%= Response.where(:answer => "learning").count %></h3>
<h3>comfort edge -- <%= Response.where(:answer => "comfort edge").count %></h3>
<h3>comfort -- <%= Response.where(:answer => "comfort").count %></h3>

<br><br>
<h2 style="display:none; float:right; color:gray;" class="quotes">... a state of psychological stability and composure which is undisturbed by experience of or exposure to emotions, pain, or other phenomena that may cause others to lose the balance of their mind.</h2>
<h2 style="display:none; float:right; color:gray;" class="quotes">... having an even mind</h2>
<h2 style="display:none; float:right; color:gray;" class="quotes">... mental calmness, composure, and evenness of temper, esp. in a difficult situation.</h2>

<script>
(function() {

    var quotes = $(".quotes");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(2000)
            .delay(2000)
            .fadeOut(2000, showNextQuote);
    }
    
    showNextQuote();
    
})();
</script>




