<%= javascript_include_tag "home.js" %>

<div id="index_buttons">
     <a href="/results/today"><%= button_tag "today", id: "today" %></a><!--
  --><a href="/results/yesterday"><%= button_tag "yesterday", id: "yesterday" %></a><!--
  --><a href="/results/thisWeek"><%= button_tag "this week", id: "week" %></a>
</div>

<h1>Boots in the <span style="color: green;">LEARNING ZONE</span></h1>
<div id="donut" data-donut=<%= @learning.to_f / @all_responses * 100 %>>
</div>

<h2 class="quotes">... a state of psychological stability and composure which is undisturbed by experience of or exposure to emotions, pain, or other phenomena that may cause others to lose the balance of their mind.</h2>
<h2 class="quotes">... having an even mind</h2>
<h2 class="quotes">... mental calmness, composure, and evenness of temper, esp. in a difficult situation.</h2>

<div class="horizontal-bar-graph" id="my-graph"></div>

<%= javascript_tag do %>
  panic = <%= @panic %>
  panicEdge = <%= @panic_edge %>
  learning = <%= @learning %>
  comfortEdge = <%= @comfort_edge %>
  comfort = <%= @comfort %>
<% end %>






