<div class="navbar row">
  <h1 class="logo" style="float:left; color:white">Goldilocks Logo Placeholder</h1>
  <p class="navbar-text">
  <% if user_signed_in? %>
    <span class="login-email-notification"><%= current_user.email %></span>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Register", new_user_registration_path, :class => 'navbar-link', :id => "navbar-register"  %>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link', :id => "navbar-login"  %>
  <% end %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
